body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header css  */  
.flight_header {display: flex;margin-top: 40px; align-items: center; justify-content: space-between;}  
.flight_header h1 {color:#010101;font-size: 46px;font-weight: 600;}  
.flight_header span{color:#dfdfdf;}  
/* header css end */



/* filter css start*/
.filter_type .form-group {display: inline-block;margin-right: 10px;}
.filter_type .form-group input { padding: 0; height: initial; width: initial; margin-bottom: 0; display: none; cursor: pointer;}
.filter_type .form-group label {position: relative; cursor: pointer; font-size: 16px; display: flex; align-items: center;} 
.filter_type .form-group label:before { content:''; -webkit-appearance: none; background-color: transparent; border: 2px solid #222; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); padding: 7px; display: inline-block; position: relative; vertical-align: middle; cursor: pointer; margin-right:6px; border-radius: 3px;} 
.filter_type .form-group input:checked + label:after {content: ''; display: block; position: absolute; top: 7px; left: 7px; width: 5px; height: 10px;border: solid #222; border-width: 0 2px 2px 0; transform: rotate(45deg);} 
.filter_type .form-group input:checked + label:after { content: ''; display: block; position: absolute; top: 6px; left: 7px;width: 5px; height: 10px; border: solid #fff; border-width: 0 2px 2px 0; transform: rotate(45deg);}  
.filter_type .form-group label:after { content: ''; display: block; position: absolute; top: 7px; left: 7px; width: 5px; height: 10px; border: solid #dfdfdf; border-width: 0 2px 2px 0; transform: rotate(45deg);}  
.filter_type .form-group input:checked + label:before {background:#010101;}
.side_icon {cursor: pointer;} 
.filter_search_sec {margin-top: 20px;text-align:left;}
.filter_search_sec input {border:none;border-bottom:2px solid #222;width: 100%;font-size:16px;outline:none;}
.filter_search_sec h2 {font-size: 24px;font-weight: 600;}
/* filter css end*/


/* filter table css */
.filter_table table { border-collapse: collapse; width: 100%;margin-top: 20px;text-align: center;}
.filter_table td, th {text-align: left; padding:15px;font-size:16px;}
.filter_table tr:nth-child(odd) {background-color: #dddddd;font-size:18px;}
.filter_table thead {background: #dfdfdf;}
/* filter table css end*/


.footer_pagination {display:flex;align-items:center;justify-content:space-between;margin-top: 30px;margin-bottom: 20px;}
.arrow_left{font-size: 30px;cursor: pointer;}
.arrow_right{font-size: 30px;cursor: pointer;}
.center_pagination {font-size: 16px;}
